<h1>Favorite Bands</h1>

<% @bands.each do |band| %>
    <div>
        <%= link_to band.name, band_path(band) %>
    </div>
<% end %>

<%= link_to "Add Another Favorite", favorites_new_path, class: "btn btn-info"%>